
.buySell{
    margin-left:7%;
    width:18%;
}
section {
    width: auto;
    height: 80%;
    margin: auto;
    padding: 10px;
}
div#one {
    width: 40%;
    height: 40%;
    float: left;
}
div#two {
    margin-left:43%;
    height: auto;
    
}
.cash{
    margin-left:40%;
}
